nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: none;
}

nav img {
    width: 36px;
}

/* tablets */
@media(min-width: 425px) and (max-width: 799px) {
    nav ul {
        display: block;
    }

    nav img {
        display: none;
    }
}